body{
  text-align: center;
}

h1{
  font-family: "Helvetica";
  font-size: 70px;
  font-weight: bold;
  color: white;
  font-style:
}

.menu {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-image: url("../image/the-flatiron-building.png");
  font-weight: bold;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

h3{
  font-weight: bold;
  font-size: 23px;
}

.designed {
  background-image: url("../image/the-flatiron-building.png");
}
