body{
  text-align: center;
  font-family: "Helvetica", sans-serif;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.menu {
  font-size: 18px;
  color: white;
  background-image: url("../image/the-flatiron-building.png");
  background-repeat: no-repeat;
  font-weight: bold;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

h3{
  font-weight: bold;
  font-size: 23px;
}

.designed {
  background-image: url("../image/the-flatiron-building.png");
}

.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}

.supporting {
  text-align: center;
}

.supporting h2{
  font-size: 32px;
}
.supporting h3{
  font-size: 23px;
}

.supporting-item p{
  font-size: 14px;
}
